<main xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-formateur-form">
	<form action="/formateurs/detail" method="post">
		<h1>Détail du formateur</h1>
		<ul class="flex-outer">
			<li>
				<label for="inputPrenom">Prénom : </label>
				<input type="text" name="prenom" id="inputPrenom" required data-th-value="${formateur.prenom}" />
			</li>
			<li>
				<label for="inputNom">Nom : </label>
				<input type="text" name="nom" id="inputNom" required data-th-value="${formateur.nom}" />
			</li>
			<li>
				<label for="inputEmail">Email : </label>
				<input type="text" name="email" id="inputEmail" required data-th-value="${formateur.email}" />
			</li>
			<li>
				<button type="submit">Enregistrer</button>
			</li>
		</ul>
	</form>
</main>