<!DOCTYPE html>
<!-- Déclaration du fragment principal – le layout layout-demo -->
<!-- Paramétrer le layout pour les valeurs dynamiques -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<!-- Rendre variable le titre de la page -->
	<title></title>

	<!-- Ajout de la CSS pour le layout -->
	<link rel="stylesheet" data-th-href="@{/css/layout.css}">
	<link rel="stylesheet" data-th-href="@{/css/general.css}">

	<link rel="icon" data-th-href="@{/images/logoENI.png}" sizes="32x32">
</head>

<body>

	<!-- Intégration du fragment d'entête -->
	<div data-th-replace="~{fragments/fragment-entete :: frag-entete}"></div>

	<!-- Rendre variable le contenu de la page -->
	<main data-layout-fragment="contenuPage">
		Contenu de la page
	</main>

	<!-- Intégration du fragment de pied page -->
	<div data-th-replace="~{fragments/fragment-piedpage :: frag-piedpage}"></div>

</body>

</html>
