<!doctype>
<html>

<head>
	<meta charset="utf-8" />
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

	<header class="header border-bottom box-shadow">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-sm">
				<div class="">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="navbar-brand" href="/">Filmothèque</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/films">Films</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<h1>Les films</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Genre</th>
				<th scope="col">Année</th>
				<th scope="col">Titre</th>
				<th scope="col">Réalisateur</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="film : ${modelFilms}">
				<td th:text="${film.genre.titre}"></td>
				<td th:text="${film.annee}"></td>
				<td th:text="${film.titre}"></td>
				<td th:text="${film.realisateur.nom + ' ' + film.realisateur.prenom}"></td>
				<td><a href="">Détail</a></td>
			</tr>
		</tbody>
	</table>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>