<!doctype>
<html>

<head>
	<meta charset="utf-8" />
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

	<header class="header border-bottom box-shadow">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-sm">
				<a class="navbar-brand" href="/">Filmothèque</a>
				<div class="">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/films">Films</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<h1>Détail du film</h1>

	<dl>

		<dt>Genre :</dt>
		<dd th:text="${modelFilm.genre.titre}"></dd>

		<dt>Année :</dt>
		<dd th:text="${modelFilm.annee}"></dd>

		<dt>Titre :</dt>
		<dd th:text="${modelFilm.titre}"></dd>

		<dt>Réalisateur :</dt>
		<dd th:text="${modelFilm.realisateur.nom}"></dd>

		<dt>Durée :</dt>
		<dd th:text="${modelFilm.duree}"></dd>

		<dt>Acteur(s) :</dt>
		<dd>
			<ul>
				<li th:each="acteur : ${modelFilm.acteurs}"
					th:text="${acteur.nom}">
				</li>
			</ul>
		</dd>

		<dt>Synopsis :</dt>
		<dd th:text="${modelFilm.synopsis}"></dd>

	</dl>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>
